
*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.fondo{
    background-image: url="C:\Users\salva\OneDrive\Escritorio\imagenes portafolio";
}


.row{
    display: flex;
    flex-wrap: wrap;

}
.col-12{
    width: 100%;
}
@media(min-width:768px){
    .col-6{
       width: 50%; 
    }
}